.dialogstyle{
    margin: 0;
    color: blueviolet;
    font-size: 1.5vw;
    text-align: center;
    /* border: 5px solid blueviolet; */
}
.CancelButton{
    background-color: transparent;
    display: block;
    margin: auto;
    border: none;
    font-size: 1vw; 
    /* width: 90px; */
    /* height: 32px; */
    cursor: pointer;
}
.CancelButton:hover{
    background-color: blueviolet;
}

.mat-dialog-container {
    box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
    display: block;
    padding: 0px 24px;
    border-radius: 2px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: fit-content;
    max-height: fit-content;
}