<!--The content below is only a placeholder and can be replaced.-->
<div ng-app="">
  <nav id="menu">
        <img class = "logo" (click) = "onClick()" src="assets/images/s.png">
  </nav>
  <hr style="clear: both; margin-top: 20px">
  <div class="image">
    <img src="assets/images/mf-avatar.svg">
  </div>
  <h1 class="title" style="margin-top: -5%; font-weight: 400;">Thanks for taking the time to reach out. What can I do for you today?</h1>
  <div class="clear"></div>
  <form #myForm="ngForm" >
    <div class="fr">
      <div class="form-row">
        <div class="col">
          <input type="email" class="form-control" name="email" [(ngModel)]="senderEmail" placeholder="Your Email" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" #lname placeholder="Name">
        </div>
 </div>
      <textarea class="comment" type="text" name="comment" [(ngModel)]="comment" placeholder="Comment...." required></textarea>
    </div>
    </form>
    <div class="d-flex align-items-center justify-content-center v-100" >
        <button [disabled]="!myForm.valid" class="ovalbutton" (click) = "sendmail()">Submit
        </button>
      </div>
  </div>
