<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--The content below is only a placeholder and can be replaced.-->
<div ng-app="">
  <nav id="menu" >
  
        <img class = "logo" (click)="refreshPage()"  src="assets/images/s.png">
  <div class="ovalbutton" (click) = "onClick()" >Say Hello</div>
    <!-- <button (mouseover)="onClick()" >Click it</button> -->
  </nav>
  <section class="content-body">
  <div class="section-body">
    <div class="container">
      <h1 class="title">
        A Creative Android And PHP Developer.
      </h1>
      <h2 class="detail-title">
        I work with startups around the world to turn ideas into beautiful Android Apps.
      </h2>
      <img class="avatar" src="assets/images/female.svg"> 
    </div>
  </div>
  
  <div class="section-foot">
      <div class="container"> 
        <img class="foot-image" src="assets/images/hero.png">
      </div>
    </div>
  </section>
  <section class="meet-with-me">
    <div class="container">
      <div class="column">
        <h1 class="title">
          Hi, I'm Shehnila. Nice to meet you!
        </h1>
        <p  class="subtitle">
            Since beginning my journey as a freelance designer nearly 3 years ago, I've done remote work for agencies, consulted for startups, and collaborated with talented people to create digital products for both business and consumer use. I'm quietly confident, naturally curious, and perpetually improving my chops.
        </p>
      </div>
    </div>
  </section>
  <section class="experience-cards">
  
    <div class="container">
        <div class="box">
          <div class="row">
            <div class="col-sm-4 colm4 sideB">
                <!-- <div class="colm4"> -->
  
                <img src="assets/images/cellphone.png">
                <h2 class="title">Android Expertise</h2>
                <p class="para2">I tend to code things from scratch, and enjoy bringing ideas to life in the <b>mobile apps</b>.</p>
                <p class="title2">Things I enjoy developing</p>
                <p class="para2">UX/UI, App Architecture, Material Designing, Core Functionality, Third-party SDKS, API Integrations, MySql Database, Firebase Real Time Database</p>
                <p class="title2">Dev Tools:</p>
                <div class="wrapper para2">
                  <ul>
                      <li>Android Studio</li>
                      <li>Android NDK</li>
                      <li>Java</li>
                      <li>Backgorund Services</li>
                      <li>PHP</li>
                      <li>Firebase</li>
                      <li>Third-party SDKS</li>
                      <li>C++</li>
                      <li>Kotlin</li>
                    </ul>
              </div>
  <!-- </div> -->
            </div>
            <div class="col-md-4 colm4 sideB">
                <!-- <div class="colm4"> -->
  
                <img  src="assets/images/icon-frontend.svg">
                <h2 class="title">Front-end Developer</h2>
                <p class="para2">I tend to code things from scratch, and enjoy bringing ideas to life in the <b>browser</b>.</p>
                <p class="title2">Languages I speak</p>
                <p class="para2">Angular5, NodeJS, Ionic3, Python, NativeScript, MongoDB, Loopback, Firebase, Redux, MobX, Google Maps APi, Codeigniter, AWS, Semantic UI, Material Designing</p>
                <p class="title2">Dev Tools:</p>
                <div class="wrapper para2">
                  <ul>
                    <li>Visual Studio Code</li>
                    <li>MongoBooster</li>
                    <li>MS SQL Server</li>
                    <li>Bulma</li>
                    <li>Git Using SourceTree</li>
                    <li>Adobe Photoshop</li>
                    <li>Android Studio</li>
                    <li>Xcode</li>
                    <li>Slack</li>
                    <li>Docker</li>
                  </ul>
              </div>
  <!-- </div> -->
  
            </div>
            <div class="col-md-4 colm4 classC">
              <!-- <div class="colm4"> -->
                <img src="assets/images/icon-mentor.svg">
                <h2 class="title">Back-End</h2>
                <p class="para2">I genuinely care about people, and love helping new designers work on their craft.</p>
                <p class="title2">Where I teach</p>
                <p class="para2">Angular5, NodeJS, Ionic3, Python, NativeScript, MongoDB, Loopback, Firebase, Redux, MobX, Google Maps APi, Codeigniter, AWS, Semantic UI, Material Designing</p>
                <p class="title2">Mentor Status:</p>
                <div class="wrapper para2">
                  <ul>
                    <li>Visual Studio Code</li>
                    <li>MongoBooster</li>
                    <li>MS SQL Server</li>
                    <li>Bulma</li>
                    <li>Git Using SourceTree</li>
                    <li>Adobe Photoshop</li>
                    <li>Android Studio</li>
                    <li>Xcode</li>
                    <li>Slack</li>
                    <li>Docker</li>
                  </ul>
              </div>
            <!-- </div> -->
  
            </div>
          </div>
        </div>
        </div>
  </section>
  
  <section class="recent-work-cards">
  <div class="container">
    <div class="head">
      <h1 class="title">
        My Recent Work
      </h1>
      <p class="para">
        Here are some recent design projects. Want to see more? <a (click)="onClick()" id="a">Email me</a>
      </p>
    </div>

    <div class="grid">
        <div class="head2">
            <h1 class="title3">
              Android Projects
            </h1>
            <div class="underline" style="margin-top: 10px"></div>
          </div>
      <div class="row">
        <div class="col-sm-4 col-work">
        <figure class="fig">
  <!-- <div style="overflow: hidden; height: 100%; width: 100%"></div> -->
            <img  src="assets/images/masjid1.png">
          <!-- </div> -->
            <div id="myNav" class="overlay">
              <div class="wrapper">
              <p class="image-title" >Your Personal Masjid Application, Prayer Schedules And Namaz Alarm</p>
              <div class="ovalbutton2" (click)="visitProject(0)"  >Visit Project</div></div>

              
            </div>
        </figure>
  
  
        </div>
        <div class="col-sm-4 col-work">
          <figure class="fig">
            <img  src="assets/images/mdalogo.jpg">
            <div id="myNav" class="overlay">
              <p class="image-title">Multan Development Soceity. Governance At Your Fingertips. Let's Build Multan.</p>
              <div class="ovalbutton2" (click)="visitProject(1)"  > Visit Project</div></div>
    
          </figure>
        </div>
        <div class="col-sm-4 col-work">
            <figure class="fig">
                <img  src="assets/images/coachlogo.png">
                <div id="myNav" class="overlay">
                  <p class="image-title">The Coach. Start Your Personalized Weight Loss. A Transformation Journey</p>
                  <div class="ovalbutton2" (click)="visitProject(2)"  >Visit Project </div></div>
                  
              </figure>
        </div>
        
      </div>
      <div class="head2">
        <h1 class="title3">
          Web Projects
        </h1>
        <div class="underline"></div>
      </div>
      <div class="row">
          <div class="col-sm-4 col-work">
          <figure class="fig">
    <!-- <div style="overflow: hidden; height: 100%; width: 100%"></div> -->
    <img  src="assets/images/arrahman.png">
    <!-- </div> -->
              <div id="myNav" class="overlay">
                <p class="image-title">Blockchain pioneers bringing transparency, trust and security to supply</p>
                        <div class="ovalbutton2" (click)="visitLink(0)"  > Visit Website</div></div>
    
          </figure>
    
    
          </div>
          <div class="col-sm-4 col-work">
            <figure class="fig">
              <img  src="assets/images/flashbuz.png">
              <div id="myNav" class="overlay">
                <p class="image-title">Blockchain pioneers bringing transparency, trust and security to supply</p>
                <div class="ovalbutton2" (click)="visitLink(1)"   >Visit Website</div></div>
      
            </figure>
          </div>
          <!-- <div class="col-sm-4 col-work">
              <figure class="fig">
                  <img  src="assets/images/project-southwestforestproducts.png">
                  <div id="myNav" class="overlay">
                    <p class="image-title">Blockchain pioneers bringing transparency, trust and security to supply</p>
                    <div class="ovalbutton2" (click)="visitProject()"   >Visit Website</div></div>
          
                </figure>
          </div> -->
        </div>
        <!-- <div class="row">
            <div class="col-sm-4 col-work">
            <figure class="fig">

                <img  src="assets/images/project-chronicled.png">

                <div id="myNav" class="overlay">
                  <p class="image-title">Blockchain pioneers bringing transparency, trust and security to supply</p>
                        <div class="ovalbutton2"  (click)="visitProject()"  >Visit Website</div></div>
      
            </figure>
      
      
            </div>
            <div class="col-sm-4 col-work">
              <figure class="fig">
                <img  src="assets/images/project-coupal.png">
                <div id="myNav" class="overlay">
                  <p class="image-title">Blockchain pioneers bringing transparency, trust and security to supply</p>
                        <div class="ovalbutton2"  (click)="visitProject()"  >Visit Website</div>
                      </div>
        
              </figure>
            </div>
            <div class="col-sm-4 col-work">
                <figure class="fig">
                    <img  src="assets/images/project-coupal.png">
                    <div id="myNav" class="overlay">
                        <p class="image-title">Blockchain pioneers bringing transparency, trust and security to supply</p>
                        <div class="ovalbutton2" (click)="visitProject()"   >Visit Website</div>
                      </div>

  
                  </figure>
            </div>
          </div> -->
    </div>
  </div>
  </section>
<!--   
  <section class="see-more">
    <div class="container" style="margin-bottom: 10%">
      <div class="d-flex align-items-center justify-content-center v-100" >
        <div class="ovalbutton"><i class="fa fa-dribbble" ></i> More on Dribbles
        </div>
      </div>
    </div>
  </section> -->
  <hr>

  <div class="clear"></div>
  <!-- <section class="meet-with-me">
    <div class="container">
      <div class="wrapper">
        <h1 class="title">
          My Startup Projects
        </h1>
        <p  class="subtitle">
            I'm a bit of a digital product junky. Over the years, I've demoed and trialed hundreds of web and mobile apps in different industries and verticals. Eventually, I decided that it would be a fun challenge to try designing and building my own.
        </p>
      </div>
    </div>
  </section> -->
  <section class="recent-work-cards forstyle">
      <div class="container forstyle">
  
        <!-- <div class="grid">
          <div class="row">
            <div class="col-sm-4 col-work row-eq-height">
            <figure class="fig2">
      
                <img  src="assets/images/basin-logo.svg">
                <p class="wrapper">Simple form backend for designers and developers. Easy to setup. No coding required.</p>
      
              <a href="#">www.usebasin.com</a>
            </figure>
      
      
            </div>
            <div class="col-sm-4 col-work row-eq-height">
              <figure class="fig2">
                <img  src="assets/images/ylb-logo.svg">
                <p class="wrapper">Beautifully simple websites for independent distributors of Young Living Essential Oils.</p>
                  
                <a href="#">www.ylbuilders.com</a>
              </figure>
            </div>
            <div class="col-sm-4 col-work row-eq-height">
                <figure class="fig2">
                    <img  src="assets/images/houston-logo.png">
                    <p class="wrapper">Simple feedback and engagement tools for teams that want to build and ship winning products.</p>
                    <a href="#">www.ylbuilders.com</a>
                  </figure>
            </div>
            
          </div>
  
        </div> -->
  
        <h2 class="title">Interested in collaborating or investing?</h2>
        <p class="wrapper discussion-para">I’m always open to discussing product design work or partnership opportunities.</p>
        <div class="d-flex align-items-center justify-content-center v-100" >
          <div class="ovalbutton" (click)="onClick()">Start a conversation</div>
        </div>
  
      </div>
      </section>
      <hr>
      <section class="testimonials">
        <h2 class="title">Testimonials</h2>
        <p class="wrapper discussion-para">People I've worked with have said some nice things...</p>
        <img class="round-img" (click) = "references()" src="assets/images/client.webp">
        <div class="para3">
        <h3>"It was very awesome, unbelievable experience, he is really friendly, hopefully i ll work for another project too. nice job buddy."</h3>
      </div>
      </section>
      <section class="meet-with-me">
          <div class="container">
            <div class="wrapper">
              <img src="assets/images/mf-logo-white.svg">
                
              <p style="color: lightgray; text-align: center; font-family: Agency FB; font-size: 25px;margin-top: 2rem;">
                  Living, learning, & leveling up one day at a time.
              </p>
              <ul>
                <li style="list-style-type: none;float: left;margin:0px 1rem">
                  <div (click)="social(0)" ><i class="fa fa-twitter" style="text-align: center; vertical-align: middle; "></i>
                  </div></li>
                  <li style="list-style-type: none;float: left;margin:0px 1rem">
                      <div (click)="social(1)"><i class="fa fa-dribbble" style="text-align: center; vertical-align: middle"></i>
                      </div></li>
                      <li style="list-style-type: none;float: left;margin:0px 1rem">
                          <div (click)="social(2)"><i class="fa fa-linkedin" style="text-align: center; vertical-align: middle"></i>
                          </div></li>
                          <li style="list-style-type: none;float: left;margin:0px 1rem">
                              <div (click)="social(3)"><i class="fa fa-product-hunt" style="text-align: center; vertical-align: middle"></i>
                              </div></li>
                              <li style="list-style-type: none;float: left;margin:0px 1rem">
                                  <div (click)="social(4)"><i class="fa fa-envelope-o" style="text-align: center; vertical-align: middle"></i>
                                  </div></li>
              </ul>
            </div>
          </div>
          <div style="width: 50px; height: 10px; background-color: black;right: 0;
          bottom: 0;
          position: fixed;
          margin-bottom: 10px;
          margin-right: 50px;"
          ></div>
        </section>
        <!-- <h1>this is  {{ivar[0].screen}}</h1> -->
        <!-- <div  class="overlay1" [style.visibility]="isMiddleDivVisible ? 'visible' : 'hidden'"  #someVar> -->
<div  class="overlay1"   #someVar>
          <!-- Button to close the overlay navigation -->
          <button href="#" class="closebtn" #close (click)="closeProject()">&times;</button>
          <div class="clear"></div>
        
          <div id="demo"   class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <!-- <li data-target="#demo" data-slide-to="2"></li> -->
            </ul>

            <div  class="carousel-inner">
              <div class="carousel-item active">
                <img src="assets/images/{{ivar[0]}}" alt="Los Angeles" width="1100" height="500">
                <div class="carousel-caption">
                  <!-- <h3>{{i.hd}} this is</h3> -->
                  <!-- <p>We had such a great time in LA!</p> -->
                </div>   
              </div>
              <div class="carousel-item">
                <img src="assets/images/{{ivar[1]}}" alt="{{ivar[1]}" width="1100" height="500">
                <div class="carousel-caption">
                  <!-- <h3>{{i.hd}}</h3> -->
                  <!-- <p>Thank you, Chicago!</p> -->
                </div>   
              </div>
              <!-- <div class="carousel-item">
                <img src="assets/images/{{ivar[2]}}" alt="New York" width="1100" height="500">
                <div class="carousel-caption">
                  <h3>New York</h3>
                  <p>We love the Big Apple!</p>
                </div>   
              </div> -->
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
          
        </div>   
        
  </div>
  
  